body{
    background: url("imgs/bg-arrows.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f5f7f7;
    margin: 0px;
    height: calc(100% - 80px);
    font-family: 'Abel';
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.uppercase{
    text-transform: uppercase;
}

.icon{
    margin: 0px 5px;
}

.icon-responsive {
    margin: 0px 15px;
}

i{
    padding-left: 3px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

.item{
    padding: 0px 10%;
}

#logo-menu {
    padding: 10px 0px;;
}

#logo-footer {
    padding: 5px 0px;
}

#menu-1{
    height: 40px;
    background-color:#0e3225;
}

#menu-1-left{
    padding: 10px 0px 10px 10%;
}

#menu-1-right{
    padding: 10px 10% 10px 0px;
}

#menu-1-separation-bar{
    color: #2c5042;
    margin: 0px 8px;
}

#bell-notification{
    padding-right: 15px;
}

#logout-text{
    padding-left: 15px;
}

#menu-2{
    background-color:#144734;
    height: 60px;
}

#menu-2-left{
    display: flex;
}

#menu-2-right{
    margin-right: 50px;
}

#menu-2-right span{
    position: absolute;
    margin-right: 10px !important;
}

#menu-2-left nav {
    margin: 30px 5px 0px 5px;
}

#menu-2-right a img{
    border-radius: 50%;
    margin-top: 9px;
}

#menu-2-right a span{
    margin: 17px 4px;
}

#menu-2-left nav a,
#menu-2-right a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
}

#menu-2-responsive,
#footer-responsive{
    display: none;
}

#menu-2-responsive-right a img{
    border-radius: 50%;
    margin-top: 9px;
}

#menu-2-responsive-button{
    background-color:#144734;
    border: 0px solid #539d37;
}

#menu-2-responsive-button-content{
    font-size: 40px;
    color: #fff;
}

#menu-2-repsonsive-left {
    padding-top: 25px;
}

#menu-2-responsive-right {
    padding-top: 30px;
}

#menu-2-repsonsive-middle {
    padding-top: 14px;
}

#menu-2-responsive-first-line{
    height: 90px;
}

#menu-2-responsive-second-line{
    height: 100px;
    background: #fff;
}

#bell-notification-responsive {
    font-size: 30px;
}

#menu-3 {
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
    height: 80px;
}

#menu-3 nav{
    padding: 30px 10% 0px 10%;
}

#menu-3 nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#376252;
    padding: 39px 5px 19px 0px;
}

#menu-3 nav a:hover{
    border-bottom: 2px solid #376252;
}

.with-arrow-after{
    margin: 0px 0px 0px 40px;
}

.with-arrow-after:after{
    content: url("imgs/ico-arrow.svg");
}

#content-info {
    flex-direction: row;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ecf0ee;
}

div.block-left {
    padding: 0px 0px 0px 10%;
}

div.block-right {
    padding: 0px 10% 0px 0px;
}

#content-info-block-left{
    text-align: left;
}

#content-info-block-right,
#content-info-responsive-block-right{
    text-align: right;
}

#arrow-return-responsive{
    color: #278600;
}

.left{
    padding-left: 7%;
}

.right{
    padding-right: 6%;
}

.first-line i,
.first-line span {
    color: #3a9017;
}

.content-info-second-line{
    text-transform: uppercase;
    font-size: 35px; 
    padding-right: 10px;
}

.first-line{
    margin-top: 8px;
}

.second-line{
    margin-top: 4px;
}

#currency {
    position: absolute;
    right: 10%;
    margin-top: 4px;
}

.second-line.right {
    margin-right: 8px;
}

.third-line{
    float:right;
    font-size: 12px;
    font-weight: bold;
    color: #9d9d9c;
}

#arrow-return{
    padding-right: 4px;
}

.content-info-responsive{
    display: none;
}

#content-info-responsive-first-block-first-line{
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

#content-info-responsive-second-line{
    height:100px;
    background: #fff;
}
    
#content-info-responsive-first-block{
    height: 65px;
    border-bottom: 1px solid #e8edeb;
}

#content-info-responsive-first-block-first-line-right{
    padding-right: 10%;
}

#content-info-responsive-first-line-title{
    font-size: 35px;
}

#content-info-responsive-first-block-first-line-left{
    padding-left: 4%;
}

#content-info-responsive-second-block{
    height: 190px;
    box-shadow: 5px 1px 18px #edeeee;
}

#content-info-responsive-second-block-first-line span{
    color: #3a9017;
}

#content-info-responsive-second-block-first-line span.separation-bar{
    color: #d0dad6;
    padding: 0px 17px;
}

#content-info-responsive-second-block-first-line{
    font-size: 23px;
    font-weight: bold;
}

#content-info-responsive-second-block-second-line span#money{
    font-size: 70px;
    font-weight: bold;
}

#content-info-responsive-second-block-second-line span#currency{
    font-size: 35px;
    font-weight: bold;
}

#content-info-responsive-second-block-second-line{
    padding-top:10px;
}

#content-info-responsive-second-block-second-line{
    font-weight: bold;
}

#money-responsive{
    font-size: 70px;
}

#currency-responsive{
    font-size: 35px;
    padding-top: 10px;
    padding-left: 3px;
}

#content-info-responsive-second-block-third-line{
    font-size: 25px;
    color: #727271;
}

#body-container{
    padding: 30px 10% 240px 10%;
}

.body-rows{
    flex-direction: row;
    height: 150px;
    width: 100%;
}

#body-container-second-line{
    margin-top: 30px;
}

.body-container-column{
    background: #fff;
}

.body-container-first-row-item{
    width: 50%;
}

#body-container-first-line-left{
    margin-right: 15px; 
}

#body-container-first-line-right{
    margin-left: 15px; 
}

.body-container-second-row-item{
    width: 33%;
}

#body-container-second-line-left{
    margin-right: 15px;
}

#body-container-second-line-middle{
    margin: 0px 15px;
}

#body-container-second-line-right{
    margin-left: 15px;
}

.body-container-column{
    display: flex;
    flex-direction: row;
}

.body-container-column a{
    color: #000;
}

a.body-container-link{
    display: flex;
    width: 100%;
}

a.body-container-link:hover{
    font-weight: 100;
    background: #eee;
}

.icon-on-card {
    margin: 25px 0px 25px -20px;
    padding: 25px;
    border-radius: 50px;
}

.icon-on-card-responsive {
    margin: 30px 0px 25px -30px;
    padding: 30px;
    border-radius: 75px;
    height: 100px;
}

.red-card{
    background: #fce9e8;
}

.green-card{
    background: #e9f2e4;
}

.body-container-item{
    margin: 35px 20px;
}

.body-container-item-title{
    font-weight: bold;
    font-size: 22px;
}

.body-container-item-footer{
    margin-top: 15px;
}

.body-container-item-body{
    margin-top: 5px;
}

.body-container-item-footer span{
    font-size: 35px;
}

.red{
    color: #c20533;
}

.green{
    color: #278600;
}

#body-container-responsive{
    display: none;
}

#body-container-responsive a{
    background: #fff;
    margin-bottom: 30px;
    color: #000;
}

.body-container-item-responsive{
    margin: 70px 20px 40px 20px;
}

.body-container-responsive-item-title{
    font-size: 25px;
    font-weight: bold;
    padding-right: 25px;
    padding-bottom: 5px;
}

.body-container-responsive-item-body{
    font-size: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
}

.body-container-responsive-item-footer{
    font-size: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
}

.body-container-responsive-item-footer span{
    font-size: 60px;
}

#footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 80px;
    color: white;
}

#top-footer{
    background-color: #144734;
    height: 50px;
}

#top-footer-left{
    float: left;
}

#top-footer-right{
    float: right;
}

#top-footer-right img{
    margin-top: 13px;
}

#bottom-footer{
    background-color: #fff;
    padding-top: 15px;    
    height: 30px;
}

#bottom-footer-left{
    float: left;
}

#bottom-footer-right{
    float: right;
}

#bottom-footer-right nav a{
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    margin: 0px 0px 0px 25px;
}

#bottom-footer #bottom-footer-left i,
#bottom-footer #bottom-footer-left span{
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.text-footer-bottom{
    font-size: 12px;
    font-weight: bold;
    color: #555; 
}

/* #footer-responsive{
    height: 540px;
} */

#top-footer-responsive{
    height: 205px;
    background: #144734;
}

#bottom-footer-responsive{
    height: 335px;
    background: #fff;
    padding: 20px 40px;
}

#top-footer-responsive-first-line{
    padding-top: 30px;
    padding-bottom: 70px;
}

#top-footer-responpsive-second-line{
    color: #859f94;
    font-size: 22px;
    /* font-weight: bold; */
}

.with-border-bottom{
    border-bottom: 1px solid #e8edeb;
}

.bottom-footer-responsive-row{
    color:#60605f;
    font-size: 20px;
    padding: 20px 0px;
}

@media (max-width: 1024px) {
    #menu-1,
    #menu-2,
    #menu-3,
    #top-footer,
    #bottom-footer{
        display:none
    }

    #content-info,
    #body-container{
        display:none
    }

    .content-info-responsive{
        display: block;
        background: #fff;
        padding-left: 10px;
        padding-top: 25px;
    }

    #body-container-responsive{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px 0px 0px;
    }

    #menu-2-responsive {
        display: block;
        background-color:#144734;
        align-items: center;
    }

    #footer-responsive{
        display: block;
    }

}